:root {
  --nature: #86a789;
  --sky: #cbf1f5;
}

* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: white;
}

body {
}

.hide {
  display: none;
}

.container {
  background-color: #cbf1f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  width: 100%;
  text-align: center;
  padding-top: 5rem;
}

.clock {
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 15rem;
}

.button {
  padding: 10px;
  font-size: 3rem;
  color: black;
  border: 2px solid black;
}

.button-container > * {
  margin-left: 50px;
}

.start:hover {
  background-color: #5d9c59;
  border: 2px solid #5d9c59;
  color: white;
}

.off:hover {
  background-color: #df2e38;
  background-color: #df2e38;
  border: 2px solid #df2e38;
  color: white;
}

.reset:hover {
  background-color: #0073e6;
  border: 2px solid #0073e6;
  color: white;
}
